:root {
    --footer-min-height: 250px;
}

.footer-container {
    color: rgb(172, 172, 172);
    font-weight:lighter;
    font-size: small;

    min-height: var(--footer-min-height);
    background-color: #333;
    /* color: #fff; */
    /* padding: 20px; */
    z-index: 2;

    position: relative;
    /* position: absolute; */
    width: 100%;
    /* bottom: 0; */
}

.bottom-navigation {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    padding-bottom: 20px;
}

.bottom-navigation-section {
    /* border: solid; */

    /* Each column takes an equal share of available space */
    flex: 1;
    margin-right: 20px;
    text-align: center;
}

.bottom-navigation-section h3 {
    text-decoration: underline;
}

.bottom-navigation-section li {
    margin-top: 15px;
    margin-bottom: 15px;
}

.bottom-navigation-section a {
    color: rgb(172, 172, 172);
}

.bottom-navigation-section a:hover {
    text-decoration: underline;
}

hr {
    border-color: rgb(172, 172, 172);
}

.socials {
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 130px;

    margin: auto;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 15px;
}

.social-icon {
    /* max-width: 20px; */
    width: 22px;
    filter: grayscale(80%);
}

.social-icon:hover {
    filter: grayscale(0%);
}


.copyright-section {
    text-align: center;
    padding-bottom: 5px;
}

/* .footer-bottom-container {
    display: block;
} */



@media (max-width: 768px) {
    /* .socials {
        margin: auto;
        text-align: center;
        padding: 0px;
        margin-bottom: 15px;
    } */
}