.BookDemoPage-container {

}

.BookDemoPage-text {
    width: 70%;
    margin: auto;
    margin-top: 50px;
}

.contact-form-container {
    width: 70%;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 100px;
}