.TeamPage-container {
    
}

.team-intro-outer-container {
    background-color: rgb(227, 227, 227);
    padding-top: 100px;
    padding-bottom: 120px;
}

.team-intro-container {
    max-width: 800px;
    margin: auto;
}

.team-members-grid {
    max-width: 900px;
    margin: auto;

    text-align:center;

    margin-top: 100px;
    margin-bottom: 100px;
}