.ClientSlider-container{
    background-color: rgb(230, 230, 230);
    /* padding-top: 80px; */
    padding-bottom: 50px;

    /* display: grid;
    place-items: center; */
}

.company-list-sv-logo-instance {
    width: 10vw;
}

.ClientSlider-container .customer-text {
    width: 90%;
    text-align: center;
    /* padding-left: 20px; */
    padding-top: 50px;
    padding-bottom: 50px;
    /* display: inline-block; */

    font-size: 5vw;

    margin: auto;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    align-items: center;
    
}

.ClientSlider-container .customer-text * {
    margin-left: 20px;
    margin-right: 20px;
}

/* .ClientSlider-container .customer-text img {
    width: 100px;
} */

/* @media (min-width: 1300px) {
    .customer-text {
        font-size: 45px;
    }
}

@media (max-width: 1300px) {
    .customer-text {
        font-size: 25px;
    }
} */


@keyframes slide {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-100%);
    }
}

.logos {
    overflow: hidden;
    padding: 30px 0;
    /* background: white; */
    white-space: nowrap;
    position: relative;
}

.logos:before, .logos:after {
    position: absolute;
    top: 0;
    width: 170px;
    height: 100%;
    content: "";
    z-index: 2;
}

.logos:before {
    left: 0;
    background: linear-gradient(to left, rgba(255, 255, 255, 0), rgb(230, 230, 230));
}

.logos:after {
    right: 0;
    background: linear-gradient(to right, rgba(255, 255, 255, 0), rgb(230, 230, 230));
}

.logos:hover .logos-slide {
    animation-play-state: paused;
}

.logos-slide {
    display: inline-block;
    animation: 25s slide infinite linear;
}

.logos-slide img {
    /* max-height: 5vw; */
    max-height: 100px;
    /* max-width: 25vw; */
    max-width: 200px;

    margin: 0 40px;
    vertical-align: middle;
    filter: grayscale(100%);
}


@media (max-width: 800px) {
    /* .logos-slide img {
        max-height: 60px;
        max-width: 120px;
    } */

    .ClientSlider-container .customer-text {
        font-size: 28px;
    }

    .company-list-sv-logo-instance {
        min-height: 40px;
        min-width: 80px;
    }
}