
.CompanySnapshotHomepage-container {
    /* padding-top: 70px;
    padding-bottom: 70px; */
    /* padding: 100px; */
    padding: 70px 14vw;
    background-color: rgb(230, 230, 230);
}

.CompanySnapshotHomepage-container h1 {
    text-align: center;
    padding: 0px 25px 10px 25px;
}

.CompanySnapshotHomepage-container .message-text {
    padding: 0px 15px 0px 15px;
    font-family: var(--secondary-font);
}