.ValuesPage-container {
    margin: 100px;

    font-family: 'Metropolis Regular';

    
}

.ValuesPage-container ul li {
    list-style-type: disc;
    margin-left: 20px;

    font-family: 'Metropolis Regular';
}