

.ERPModuleDetail-container {
    /* margin: 0 70px; */
    padding-bottom: 40px;
    text-align: center;
}

.module-page-header {
    /* padding: 0px 0px;
    margin: 0px; */
    text-align: center;
}

.module-page-preview {
    font-family: 'Metropolis Regular';
    text-align: center;

    max-width: 800px;
    width: 80%;
    min-width: 210px;

    margin: 0 auto;

    padding-bottom: 30px;
}


/* 
.module-columns .checklist {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-basis: 100%;
    flex-wrap: wrap;
    justify-content: center;
}


.module-columns .checklist li {
    background-image: url('/assets/gc.png');
    background-repeat: no-repeat;
    background-size: 40px;
    background-position: left center;
    padding-left: 60px;
    line-height: 30px;
    margin: 10px 20px;
    max-width: 320px;

    display: flex;
    align-items: center;
    flex-basis: 100%;
} */





.module-columns {
    display: flex;
    flex-wrap: wrap;

    justify-content: center;
}

.module-columns div {
    width: 30%;
    min-width: 320px;
    margin: 0 auto;
}

.module-col-header {
    text-align: center;
    text-decoration: underline;
}

.stage-header-description {
    /* font-family: 'Metropolis Regular'; */
    /* font-family: 'Times New Roman', Times, serif, Helvetica, sans-serif; */
    /* font-weight: 100; */
    color: rgb(114, 114, 114);
}

.module-columns div ul {
    text-align: center;
}

.module-columns div ul li {
    background-image: url('/assets/gc.png');
    background-repeat: no-repeat;
    background-size: 40px;
    background-position: left center;
    padding-left: 53px;
    line-height: 25px;
    min-height: 50px;
    margin: 10px auto;
    max-width: 320px;

    display: flex;
    align-items: center;
    flex-basis: 100%;
}






/* @media (min-width: 1000px) {
    .ERPModuleDetail-container {
        margin: 0 30px;
    }
    
    .module-columns {
        max-height: 900px;
    }
} */

.erp-module-sv-logo-container {
    margin-top: 500px;
}

.erp-module-sv-logo {
    width: 100px;

    margin-top: 50px;
}