 .SinglePost-container {
    min-height: 80vh;
    padding: 20px;    
    position: relative;
}

.post-content-section {
    min-height: 80vh;
}


.sv-customer-win-button-container {
    display: flex;

    justify-content: space-between;

    align-items: center;
}

.sv-customer-win-button-container h2 {
    line-height: 1px;
}

.sv-customer-win-sv-logo {
    width: 90px;
}

.sv-customer-win-sv-logo:hover {
    transform: scale(1.2); /* Adjust the scale factor as needed */
    transition: transform 0.3s ease; /* Add a smooth transition effect */
}

.sv-customer-win-sv-links {
    text-align: right;
}


.article-title-container {
    text-align: center;
    padding: 2vh;
}

.article-image-container {
    text-align: center;
    padding: 2vh;
}

@media (min-width: 1300px) {
    .article-image {
        max-width: 750px;
    }
}

@media (max-width: 1300px) {
    .article-image {
        max-width: 60vw;
    }
}

.BlockContent-div * {
    font-family: var(--secondary-font);
    line-height: 1.6;
    /* margin-bottom: 20px; */

    /* background-color: aqua; */
}

.article-preview-details {
    display: flex;
    align-items: center;

    color: gray;

    font-size: 14px;
}

.read-time-icon {
    width: 22px;
    height: auto;

    color: gray;
}

.BlockContent-div img {
    max-width: 80%;
    text-align: center;
}



figure {
    display: flex;
  justify-content: center;
  align-items: center;
  width: 100%; /* Set the width of the container as needed */

}
img {
    margin: 0px 0px;
    /* text-align: center; */
}
/* p em {
    text-align: center;
    display: block;
    margin: 0 auto;
  } */
  p:only-child:has(em) {
    text-align: center;
  }



@media (min-width: 1300px) {
    .BlockContent-div {
        margin-bottom: 80px;
        margin: 50px 100px;
    }
}

@media (max-width: 1300px) {
    .BlockContent-div {
        margin: 30px 20px;
    }
}




.article-bottom-links-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 80vw;
    margin: auto;
}


.blog-post-footer-button {
    border-radius: 5px;
    border-style: solid;
    border-color: transparent;
    border-width: 1px;
    padding: 10px 20px;
    cursor: pointer;
    position: relative;
    transition: background-color 0.2s ease-in-out, border 0.2s ease-in-out;

    background-color: var(--theme-color-1);

    height: 20px;

    display: flex;
    align-items: center;

    vertical-align:middle;

    margin: 0px 5px;
}


.blog-post-footer-button:hover {
    background-color: rgb(238, 238, 238);
    border-color: rgb(194, 194, 194);
    border-width: 1px;
}

.postEmailSignUpContainer {
    width: 50%;

    margin: 0px auto;
}


@media (max-width: 1000px) {


    .postEmailSignUpContainer {
        width: 90%;

        margin: 0px auto;
    }

    .article-bottom-links-container {
        /* display: inline-block; */
        flex-direction: column;
    }

    .blog-post-footer-button {
        width: auto;

        margin: 15px 10px;
    }
}
