@font-face {
  font-family: 'Metropolis Semibold';
  src: url('./assets/Metropolis-SemiBold.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Metropolis Regular';
  src: url('./assets/Metropolis-Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

:root {
  --main-font: 'Metropolis Semibold', sans-serif, Times;
  --secondary-font: 'Metropolis Regular', sans-serif, Times;

  --theme-color-1: rgb(176, 176, 134);
}

* {
  font-family: var(--main-font);
}

.show-pointer {
  cursor: pointer;
}

a {
  cursor: pointer;
  text-decoration: none;
}

.router-link {
  cursor: pointer;
  text-decoration: none;
  color: black;
}


.app-container {
  position: relative;
}

li {
  list-style-type: none;
  text-decoration: none;
}