 .SinglePost-container {
    min-height: 100vh;
    padding: 20px;    
    position: relative;
}

.article-title-container {
    text-align: center;
    padding: 2vh;
}

.article-image-container {
    text-align: center;
    padding: 2vh;
}

.BlockContent-div * {
    font-family: var(--secondary-font);
    line-height: 1.6;
    margin-bottom: 20px;
}

.BlockContent-div {
    margin-bottom: 80px;
}

.read-more-articles {
    position: absolute;
    bottom: 30px;
}